body {

  color: whitesmoke;
}
.formC {
  position: absolute;

   background: #8ab1f2;
   width: 18%;
   text-align: center;
   display: flex;
justify-content: center;
margin-top: 1%;
left:4%;
top: 160px;
}
.tableC {
  margin: 1%;
  text-align: center;
position: absolute;
width: 74%;
top: 80px;
right: 0;
}
td button {
  background-color:  #8ab1f2;
}
tr td {
  color: black;
  padding: 10px;
}
tr th {
  padding: 10px;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
color: black;
}

input:focus {
  border: 3px solid #555; }

thead {
  background-color: #8ab1f2;
}
.app-header {
  background-color: #8ab1f2;
  top: 0;
  position: fixed;
  height: 73px;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: whitesmoke;
}
#searcher{
  color: black;
}
